</div>
<footer class="fixed-bottom page-footer bg-dark text-white small">
  <div class="text-center py-3">Powered By Artificial Incoherence</div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Artificial Incoherence</div>
</footer>
<br><br><br><br><br>
</body>

</html>