<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Caremada Development</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="p-3 bg-dark text-white">
  <header class="navbar">
    <img class="p-3" src="/images/logo-white-40.png">
    <!-- <form class="p-3 form-inline mr-auto">
      <input class="form-control" id="searchbar" onkeyup="filterSearch()" type="text" placeholder="Search">
      <i class="fas fa-search ml-3" aria-hidden="true"></i>
    </form> -->
  </header>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Movies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/display/movies">Display</a>
              <a class="dropdown-item" href="/insert/movies">Insert</a>
              <a class="dropdown-item" href="/reload/movies">Reload</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Caregivers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/display/caregivers">Display</a>
              <a class="dropdown-item" href="/insert/caregivers">Insert</a>
              <a class="dropdown-item" href="/reload/caregivers">Reload</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <i class="fas fa-search ml-3" aria-hidden="true"></i>
          <!-- <button class="btn btn-light" type="submit">Search</button> -->
        </form>
      </div>
    </nav>