<%- include('partials/header') %>

<br><br><br>
<div class="container-fluid table-responsive" id="mainContent">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Recommender Engine<br>Testing Environment</h1><br>
      <p class="lead">Load a DataSet to Begin</p><br>
      <p class="lead">
        <a href="/display/caregiver" class="btn btn-lg btn-secondary">Caregivers</a>
      </p>
    </main>
  </div>
</div>

<%- include('partials/footer') %>
